.expand-btn {
    height: 40px;
    width: 40px;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.expand-btn:hover {
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}