@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-altWhite;
  max-width: 1440px;
}

div, p, li, a {
  @apply text-inherit;
  @apply font-montserrat;
}

.anim-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
}

.anim-text.jaffa {
  background-image: -webkit-gradient(linear, left top, right top, from(#f3a13b), color-stop(50%, #f3a13b), color-stop(50%, #343434));
  background-image: linear-gradient(to right, #f3a13b, #f3a13b 50%, #343434 50%);
}
.anim-text.vermillion {
  background-image: -webkit-gradient(linear, left top, right top, from(#f24333), color-stop(50%, #f24333), color-stop(50%, #343434));
  background-image: linear-gradient(to right, #f24333, #f24333 50%, #343434 50%);
}
.anim-text.altGreen {
  background-image: -webkit-gradient(linear, left top, right top, from(#618b4a), color-stop(50%, #618b4a), color-stop(50%, #343434));
  background-image: linear-gradient(to right, #618b4a, #618b4a 50%, #343434 50%);
}
.anim-text.ceruleanBlue {
  background-image: -webkit-gradient(linear, left top, right top, from(#2b59c3), color-stop(50%, #2b59c3), color-stop(50%, #343434));
  background-image: linear-gradient(to right, #2b59c3, #2b59c3 50%, #343434 50%);
}

.anim-text:hover {
  -webkit-transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%;
}

.expand-btn {
  height: 40px;
  width: 40px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.expand-btn:hover {
  width: 185px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  z-index: 0;
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  @apply h-1;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.8s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1 {
  @apply text-5xl lg:text-6xl;
  @apply font-bold;
}

h2 {
  @apply text-4xl lg:text-5xl;
  @apply font-bold;
}

h3 {
  @apply text-3xl lg:text-4xl;
  @apply font-bold;
}

h4 {
  @apply text-2xl lg:text-3xl;
  @apply font-bold;
}

h5 {
  @apply text-xl lg:text-2xl;
  @apply font-bold;
}

h6 {
  @apply text-lg lg:text-xl;
  @apply font-bold;
}

summary{
  list-style: none
}